.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-block-end: 2rem;
	gap: 1rem;
}

.text-inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.text-inputs > * {
	min-width: 20rem;
}

textarea {
	min-height: 5rem;
}

.btn {
	min-height: 2rem;
	min-width: 4rem;
}
